<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CrediSeguroWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CrediSeguroWS.Properties.Settings.ConexionSQL" connectionString="Data Source=LATE6440\SQLEXPRESS;Initial Catalog=CrediSeguro;Persist Security Info=True;User ID=WSUser;Password=P@ss2016"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <CrediSeguroWS.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </CrediSeguroWS.Properties.Settings>
  </applicationSettings>
</configuration>